.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(180deg, rgb(0, 153, 255) 1.00%,rgb(15, 15, 15) 99.00%);
}
.page-container1 {
  width: 100%;
  height: 287px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-text {
  color: #ffffff;
  font-size: 60px;
  margin-top: 300px;
}
.page-text3 {
  width: 997px;
  font-size: 30px;
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
}
.page-text4 {
  color: #ffffff;
}
.page-text5 {
  color: #140750;
}
.page-text6 {
  color: #ffffff;
}
.page-container2 {
  width: 100%;
  height: 421px;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  justify-content: center;
}
.page-link {
  display: contents;
}
.page-get-started {
  width: 224px;
  display: flex;
  text-decoration: none;
  background-color: #0096FF;
}
.page-text7 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
@media(max-width: 991px) {
  .page-get-started {
    flex: 1;
  }
}
@media(max-width: 767px) {
  .page-get-started {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
